<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"> 
	<dict> 
		<key>items</key> 
		<array> 
			<dict> 
				<key>assets</key> 
				<array> 
					<dict> 
						<key>kind</key> 
						<string>software-package</string> 
						<key>url</key> 
						<string>https://quickwin-prod-nondatacenter.oss-cn-hangzhou.aliyuncs.com/oem/public/20220726/b38b7e19-4451-4205-8b05-5557f238dc07.ipa</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>display-image</string> 
						<key>url</key> 
						<string>https://souche-res.souche.com/reiko/81c5a7c936610720c2ed68cad8a9e10e4881642743499921.png</string> 
					</dict> 
					<dict> 
						<key>kind</key> 
						<string>full-size-image</string> 
						<key>url</key> 
						<string>https://souche-res.souche.com/reiko/81c5a7c936610720c2ed68cad8a9e10e4881642743499921.png</string> 
					</dict> 
				</array> 
				<key>metadata</key> 
				<dict> 
					<key>bundle-identifier</key> 
					<string>com.souche.app.oem.markethelper</string> 
					<key>bundle-version</key> 
					<string>1.0.6</string> 
					<key>kind</key> 
					<string>software</string> 
					<key>platform-identifier</key> 
					<string>com.apple.platform.iphoneos</string> 
					<key>title</key> 
					<string>福特e销</string> 
				</dict> 
			</dict> 
		</array> 
	</dict> 
</plist>